body {
    font-family: Arial, sans-serif;
    background: #f2f4f8;
    margin: 0;
    padding: 0;
}

.container {
    width: 500px;
    margin: 60px auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0,0,0,0.15);
}

h1 {
    text-align: center;
    color: #1f3c88;
}

p {
    text-align: center;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

select, input {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background: #1f3c88;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #162d66;
}

.card {
    background: #eef3ff;
    margin-top: 25px;
    padding: 20px;
    border-radius: 10px;
}

a {
    display: block;
    margin-top: 20px;
    text-align: center;
}

.mensagem-sucesso {
    background: #d4edda;
    color: #155724;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    margin-bottom: 25px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background: #1f3c88;
    color: white;
}

.btn-danger {
    background: #c0392b;
}

.btn-danger:hover {
    background: #922b21;
}

.grande {
    width: 90%;
    max-width: 1300px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
    font-size: 14px;
    table-layout: auto;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background: #1f3c88;
    color: white;
}

.menu-botones {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
    margin-top: 25px;
}

.boton-menu {
    display: block;
    text-align: center;
    padding: 12px 18px;
    background-color: #2563eb;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.boton-menu:hover {
    background-color: #1e40af;
    transform: scale(1.02);
}